<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
</head>
<body>
	<div class="container">
		<div th:replace="~{/management-system/common/sidebar}"></div>
		<div class="main-content">
			<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../select">	
				<div class="form-group">
					<label for="roomtype-name">房間名稱</label>
					<input name="roomtypeName" type="text" id="roomtype-name">
				</div>
				
				<div class="form-group">
					<label for="order-number">訂單編號</label>
					<input name="orderNumber" type="text" id="order-number">
				</div>
				
				<div class="form-group">
					<label for="total-price">訂單總金額</label>
					<input name="totalPrice" type="text" id="total-price">
				</div>
				
				<div class="form-group">
					<label for="order-status">訂單狀態</label>
					<input name="orderStatus" type="text" id="order-status">
				</div>

				<div class="form-group">
					<button type="submit" class="submit" id="submit">新增</button>
					<button type="button" class="cancel">取消</button>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/management-system/booking/js/booking.js}"></script>
</body>
</html>
