<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/roomtype-select.css}">
</head>
<body>
	<div class="container">
	<div th:replace="~{/management-system/common/sidebar}"></div>
	<div class="main-content">
		<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../select">
		        <div class="form-group">
		            <label for="roomtype-name">房間類型名稱</label>
		            <input type="text" id="roomtype-name" name="roomtypeName" placeholder="輸入內容">
		        </div>
		
		        <div class="form-group">
		            <label for="price">房間類型價格</label>
		            <input type="number" id="roomtype-price" name="roomtypePrice" placeholder="輸入內容">
		        </div>
		
		        <div class="form-group">
		            <label for="quantity">房間剩餘數量</label>
		            <input type="number" id="roomtype-quantity" name="roomtypeQuantity" placeholder="輸入內容">
		        </div>
		
		        <div class="form-group">
		            <label for="description">房間類型介紹</label>
		            <input type="text" id="roomtype-description" name="roomtypeDescription" placeholder="輸入內容">
		        </div>
		        
		        <div class="form-group">
		            <label for="score">房間類型分數</label>
		            <input type="range" id="score" name="score" min="0" max="9" value="0">
		        </div>
		        
		        <div class="form-group">
		            <label for="area">房間類型面積 (平分公尺)</label>
		            <input type="number" id="area" name="area" placeholder="輸入內容">
		        </div>
		        
		        <div class="form-group">
		            <label for="select-city">縣市</label>
		            <select id="select-city" name="roomtypeCity"></select>
		        </div>
		        
		        <div class="form-group">
		            <label for="select-district">區域</label>
		            <select id="select-district" name="roomtypeDistrict"></select>
		        </div>
		        
		        <label class="money-range-label" for="money"></label>
			    <input class="money-range" type="range" id="min-range-money" name="minMoney" min="0" max="50000" value="0">
			    <p class="show-range-money">最低金額: $<span id="min-money" class="volumeValue">0</span></p>
			    
			    <label class="money-range-label" for="money"></label>
			    <input class="money-range" type="range" id="max-range-money" name="maxMoney" min="0" max="50000" value="0">
			    <p class="show-range-money">最高金額: $<span id="max-money" class="volumeValue">0</span></p>
	
		        <div class="form-group roomtype-capacity-group" style="margin-bottom: 0;">
		            <div class="choose-roomtype-capacity" style="margin-left: 0;">
			            <label class="radio-label">
			            	一人房
			                <input type="checkbox" name="roomtypeCapacity" value="1">
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	兩人房
			                <input type="checkbox" name="roomtypeCapacity" value="2">
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	三人房
			                <input type="checkbox" name="roomtypeCapacity" value="3">
			            </label>
		            </div>
		             <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	四人房
			                <input type="checkbox" name="roomtypeCapacity" value="4">
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	五人房
			                <input type="checkbox" name="roomtypeCapacity" value="5">
			            </label>
		            </div>
		        </div>
		
				<div style="display: flex; flex-wrap: wrap">
		        	<div class="form-group" th:each="amenity : ${amenities}" style="display: flex; align-items: center; width:25%;">	
		        		<label class="checkbox-label" style="display: flex; align-items: center; margin-bottom: 0;">
		        			<span th:text="${amenity.name}"></span>
		        			<input type="checkbox" style="margin: 0 5px;" name="amenitiesId" th:value="${amenity.amenityId}">
		        		</label>
		        	</div>
			    </div>
		        
		        <div class="form-group">
		            <button type="submit" style="background-color: #6c63ff;">查詢</button>
		            <button type="button" class="cancel">取消</button>
		        </div>
		    </form>
		</div>
	</div>
	<script th:src="@{/management-system/common/js/taiwan_districts.js}"></script>
	<script th:src="@{/management-system/booking/js/booking.js}"></script>
	<script>
		const selectCity = document.getElementById("select-city");
		
		{
			let option = document.createElement("option");
			option.setAttribute('disabled', true);
	        option.setAttribute('selected', true);
			option.textContent = "請選擇縣市";
			selectCity.appendChild(option);
		}
		
		data.forEach(location => {
			let optionCity = document.createElement("option");
			optionCity.textContent = location.name;
			selectCity.appendChild(optionCity);
		});
		
		const selectDistrict = document.getElementById("select-district");
		
		{
			let option = document.createElement("option");
			option.setAttribute('disabled', true);
	        option.setAttribute('selected', true);
			option.textContent = "請選擇地區";
			selectDistrict.appendChild(option);
		}
	
		selectCity.addEventListener("change", e => {
			selectDistrict.innerHTML = "";
			let selectCityName = e.target.value;
			
			const city = data.find(location => location.name === selectCityName);
			let option = document.createElement("option");
			option.setAttribute('disabled', true);
			option.setAttribute('selected', true);
			option.textContent = "請選擇地區";
			selectDistrict.appendChild(option);
			
			city.districts.forEach(area => {
				let option = document.createElement("option");
				option.textContent = area.name;
				selectDistrict.appendChild(option);
			});
		});
		const roomtypePrice = document.getElementById('roomtype-price');
		const minMoney = document.getElementById('min-money');
		const maxMoney = document.getElementById('max-money');
		const minRange = document.getElementById('min-range-money');
		const maxRange = document.getElementById('max-range-money');

		// 當拉動最小值的滑塊時
		minRange.addEventListener('input', function() {
			roomtypePrice.value = '';
		    minMoney.textContent = this.value;
		    if (parseInt(maxRange.value) < parseInt(this.value)) {
		        maxRange.value = this.value;  // maxRange 跟隨 minRange
		        maxMoney.textContent = this.value;
		    }
		});

		// 當拉動最大值的滑塊時
		maxRange.addEventListener('input', function() {
			roomtypePrice.value = '';
		    if (parseInt(this.value) < parseInt(minRange.value)) {
		        // 如果 maxRange 的值小於 minRange，將 minRange 一起移動
		        minRange.value = this.value;
		        minMoney.textContent = this.value;
		    }
		    maxMoney.textContent = this.value;
		});
		
		roomtypePrice.addEventListener('input', function() {
			minMoney.textContent = "0";
			maxMoney.textContent = "0";
			minRange.value = "0";
			maxRange.value = "0";
		});
	</script>
</body>
</html>
