<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
</head>
<body>
	<div class="container">
		<div th:replace="~{/management-system/common/sidebar}"></div>
		<div class="main-content">
			<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../create" method="post">
				<div class="dropdown-input">	
					<div class="form-group">
						<label for="roomtypeName">房間類型名稱</label>
						<input name="roomtypeName" type="text" id="roomtypeName" placeholder="請輸入房間類型名稱" autocomplete="off">
					</div>
					<a onclick="toggleDropdown()"></a>
					<div class="dropdown-menu" id="menu"></div>
				</div>

				<div class="form-group">
					<label for="roomNumber">房間號碼</label> <input type="text"
						id="roomNumber" name="roomNumber" placeholder="輸入內容" required>
				</div>

				<div class="form-group">
					<label for="roomDescription">房間說明</label> <input type="text"
						id="roomDescription" name="roomDescription" placeholder="輸入內容">
				</div>

				<div class="form-group">
					<button type="button" id="onceInput" style="background-color: orange;">一鍵輸入</button>
					<button type="submit" class="submit" id="submit" disabled>新增</button>
					<button type="button" class="cancel">取消</button>
				</div>
			</form>
		</div>
	</div>
	<script
		th:src="@{/management-system/booking/js/booking.js}"></script>
	<script>
		document.getElementById('onceInput').addEventListener('click', () => {
			document.getElementById('roomtypeName').value = '蘊泉庄 (Yun Estate Hotel)';
			document.getElementById('roomNumber').value = 'ROOM100';
			document.getElementById('roomDescription').value = '位於台北淡水區的蘊泉莊非常適合家庭旅客入住,為您帶來難忘的住宿體驗。您可以享受附近迷人的河濱和充滿活力的夜市。前往聖紅毛城和淡水老街探索歷史。飯店提供獨特的設施,如客房內早餐和免費無線網路。外帶服務。美味佳餚送到您家門口。在山景空調客房中放鬆身心。免費Wi-Fi 與外界保持聯繫,並提供免費洗浴用品。家庭房會喜歡寬敞的家庭房。在蘊泉莊酒店為您留下美好回憶台北冒險。';	
			document.getElementById('submit').disabled = false;
			document.querySelectorAll('input[type="text"]').forEach(input => input.classList.remove('invalid'));
		});
	
		// form用到的下拉式選單

		function toggleDropdown() {
			var menu = document.getElementById("menu");
			menu.classList.toggle("show");
		}

		function selectOption(value) {
			document.getElementById("roomtypeName").value = value;
			document.getElementById("menu").classList.remove("show");
		}

		function filterOptions() {
			var input = document.getElementById("roomtypeName").value.toLowerCase();
			var menu = document.getElementById("menu");
			var options = menu.getElementsByTagName("div");
			var hasMatchingOption = false;

			for (var i = 0; i < options.length; i++) {
				var optionText = options[i].textContent.toLowerCase();
				if (optionText.includes(input)) {
					options[i].style.display = "block";
					hasMatchingOption = true;
				} else {
					options[i].style.display = "none";
				}
			}

			if (hasMatchingOption && input !== "") {
				menu.classList.add("show");
			} else {
				menu.classList.remove("show");
			}
		}

		// 點擊外面關閉
		document.addEventListener('click', function(e) {
			var dropdown = document.querySelector('.dropdown-input');
			if (!dropdown.contains(e.target)) {
				document.getElementById("menu").classList.remove("show");
			}
		});
		
		document.getElementById("roomtypeName").addEventListener('input', async function(e) {
			let value = this.value;
			
			if(value === '{' || value === '}' || value === '[' || value === ']') {
				return;
			}
			
			let response = await fetch('/booking/api/roomtype?name='+value);
			let roomtypes = await response.json();
			const menu = document.getElementById('menu');
			menu.innerHTML = '';
			console.log(roomtypes);
			roomtypes.forEach(roomtype => {
				let roomtypeName = roomtype.roomtypeName;
				let div = document.createElement('div');
				div.textContent = roomtypeName;
				let selectOptionValue = "\'" + roomtypeName + "\'";
				div.setAttribute('onclick', 'selectOption(' + selectOptionValue + ')');
				menu.appendChild(div);
			});
			filterOptions();
		});
		
		const submitButton = document.getElementById('submit');
		const requiredInputs = document.querySelectorAll('.form-group input[type="text"]');

		// 正則表達式
		const validationRules = {
		    'roomName': /^[\u4e00-\u9fa5]{4,}$/, // 開頭中文且必須要有四個中文
		    'roomNumber': /\w+/,  
		    'roomDescription': /^(?=(?:.*[\u4e00-\u9fa5]){4})(?=.{4,}).*$/ // 至少八個字，且必須要有四個中文
		};

		// 添加驗證所需事件
		requiredInputs.forEach(input => {
		    input.addEventListener('input', validateInput);
		    input.addEventListener('blur', validateInput);
		});

		function validateInput(event) {
		    const input = event.target;
		    const rule = validationRules[input.name];

		    if (rule) {
		        if (!rule.test(input.value)) {
		            input.classList.add('invalid'); // 添加無效類名
		        } else {
		            input.classList.remove('invalid'); // 移除無效類名
		        }
		    }

		    // 檢查所有輸入
		    validateForm();
		}

		function validateForm() {
		    let allValid = true;

		    requiredInputs.forEach(input => {
		        const rule = validationRules[input.name];

		        if (rule && !rule.test(input.value)) {
		            allValid = false; // 一個規則不成功，則失敗。
		            submitButton.disabled = true;
		        }
		    });

		    // 確認驗證是否全部通過
		    submitButton.disabled = !allValid;
		}
	</script>
</body>
</html>
