<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
</head>
<body>
	<div class="container">
		<div th:replace="~{/management-system/common/sidebar}"></div>
		<div class="main-content">
			<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../update" method="post">
				<div class="dropdown-input">	
					<div class="form-group">
						<label for="dropdown">房間類型名稱</label>
						<input name="roomtypeName" type="text" id="dropdown" placeholder="請輸入房間類型名稱" th:value="${room.roomtypeName}" disabled>
					</div>
				</div>

				<div class="form-group">
					<label for="room-number">房間號碼</label> 
					<input type="text" id="room-number" name="roomNumber" placeholder="輸入內容" th:value="${room.roomNumber}" required>
				</div>

				<div class="form-group">
					<label for="room-description">房間說明</label> <input type="text"
						id="room-description" name="roomDescription" placeholder="輸入內容" th:value="${room.roomDescription}">
				</div>

				

				<div class="form-group">
					<button type="submit" class="submit submit-edit" id="submit" style="background-color: #007bff">保存</button>
					<button type="button" class="cancel">取消</button>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/management-system/booking/js/booking.js}"></script>
	<script>
		const submitButton = document.getElementById('submit');
		const requiredInputs = document.querySelectorAll('.form-group input[type="text"]');

		// 正則表達式
		const validationRules = {
		    'roomName': /^[\u4e00-\u9fa5]{4,}$/, // 開頭中文且必須要有四個中文
		    'roomNumber': /\w+/,  
		    'roomDescription': /^(?=(?:.*[\u4e00-\u9fa5]){4})(?=.{4,}).*$/ // 至少八個字，且必須要有四個中文
		};

		// 添加驗證所需事件
		requiredInputs.forEach(input => {
		    input.addEventListener('input', validateInput);
		    input.addEventListener('blur', validateInput);
		});

		function validateInput(event) {
		    const input = event.target;
		    const rule = validationRules[input.name];

		    if (rule) {
		        if (!rule.test(input.value)) {
		            input.classList.add('invalid'); // 添加無效類名
		        } else {
		            input.classList.remove('invalid'); // 移除無效類名
		        }
		    }

		    // 檢查所有輸入
		    validateForm();
		}

		function validateForm() {
		    let allValid = true;

		    requiredInputs.forEach(input => {
		        const rule = validationRules[input.name];

		        if (rule && !rule.test(input.value)) {
		            allValid = false; // 一個規則不成功，則失敗。
		            submitButton.disabled = true;
		        }
		    });

		    // 確認驗證是否全部通過
		    submitButton.disabled = !allValid;
		}
	</script>
</body>
</html>
