<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
</head>
<body>
	<div class="container">
	<div th:replace="~{/management-system/common/sidebar}"></div>
	<div class="main-content">
		<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../select">
				<div class="form-group">
		            <label for="room-name">房型名稱</label>
		            <input type="text" id="room-name" name="roomName" placeholder="輸入內容">
		        </div>
			
		        <div class="form-group">
		            <label for="room-number">房間號碼</label>
		            <input type="text" id="room-number" name="roomNumber" placeholder="輸入內容">
		        </div>
		        
		        <div class="form-group">
		            <label for="room-description">房間說明</label>
		            <input type="text" id="room-description" name="roomDescription" placeholder="輸入內容">
		        </div>
		        
		        <div class="form-group">
		        	<label for="dateInput">請選擇日期</label>
		        	<div th:replace="~{/management-system/component/date-input}"></div>
		        </div>
		
		        <div class="form-group"> 	
		           	<div class="check-room-status">
		           		<label for="room-status-0" style="display: flex; align-items: center; margin-top: 10px;">
			            	空房
			            	<input type="radio" id="room-status-0" name="availableRooms" value="0">
			            </label>
			           	<label for="room-status-1" style="display: flex; align-items: center; margin-top: 10px;">
			            	已預定
			            	<input type="radio" id="room-status-1" name="bookingStatus" value="1">
			            </label>
			            <label for="room-status-2" style="display: flex; align-items: center; margin-top: 10px;">
			            	已入住
			            	<input type="radio" id="room-status-2" name="bookingStatus" value="2">
			            </label>
		           	</div>         
		        </div>
      
		        <div class="form-group">
		            <button type="submit" style="background-color: #6c63ff;">查詢</button>
		            <button type="button" class="cancel">取消</button>
		        </div>
		    </form>
		</div>
	</div>
	<script>
		function dateCallback() {}
	
		document.querySelector('.cancel').addEventListener('click', function() {
			history.back();
		});
	</script>
</body>
</html>
