<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>roomtype-create</title>
<link rel="stylesheet" th:href="@{/management-system/common/css/index.css}">
<link rel="stylesheet" th:href="@{/management-system/booking/css/booking.css}">
</head>
<body>
	<div class="container">
		<div th:replace="~{/management-system/common/sidebar}"></div>
		<div class="main-content">
			<div th:replace="~{/management-system/common/navbar}"></div>
			<form class="form" action="../create" method="post" enctype="multipart/form-data">
		        <div class="form-group">
		            <label for="name">房間類型名稱 (輸入中文，至少四個)</label>
		            <input type="text" id="name" name="roomtypeName" placeholder="輸入內容" required>
		        </div>
		
		        <div class="form-group">
		            <label for="price">房間類型價格</label>
		            <input type="number" id="price" name="roomtypePrice" placeholder="輸入內容" required>
		        </div>
		
		        <div class="form-group">
		            <label for="quantity">房間數量</label>
		            <input type="number" id="quantity" name="roomtypeQuantity" placeholder="輸入內容" required value="1" min="1">
		        </div>
		        
		        <div class="form-group">
					<label>上傳圖片</label>
					<div class="upload-container" style="display: flex; flex-direction: column; align-items: center;">
						<img id="preview" src="" alt="圖片預覽" style="max-width: 300px; display: none; border-radius: 5px; margin-bottom: 21px; margin-top: -1px;">
					    <label for="file-upload" class="custom-file-upload">
					      <i class="fas fa-cloud-upload-alt"></i> <!-- 上傳圖示 -->
					      選擇檔案
					    </label>    
					    <input id="file-upload" name="imageFile" type="file" accept=".jpg, .png">
					    <p id="file-name" class="file-name">尚未選擇檔案</p>
					    <p class="upload-instruction">支持 JPG, PNG（最大 5MB）</p>
					</div>
				</div>
		
		        <div class="form-group">
		            <label for="description">房間類型介紹 (四個中文，至少八個字)</label>
		            <input type="text" id="description" name="roomtypeDescription" placeholder="輸入內容">
		        </div>
		        
		        <div class="form-group">
		            <label for="score">房間類型分數</label>
		            <input type="range" id="score" name="score" min="1" max="9" value="1">
		        </div>
		        
		        <div class="form-group">
		            <label for="area">房間類型面積 (平分公尺)</label>
		            <input type="number" id="area" name="area">
		        </div>
		
		        <div class="form-group">
		            <label for="view">縣市</label>
		            <select id="select-city" name="roomtypeCity"></select>
		        </div>
		        
		        <div class="form-group">
		            <label for="view">區域</label>
		            <select id="select-district" name="roomtypeDistrict"></select>
		        </div>
		        
		        <div class="form-group">
		            <label for="address">地址 (xx市xx區xx街xx號x樓)</label>
		            <input type="text" id="address" name="roomtypeAddress" placeholder="輸入內容" required>
		        </div>
		
		        <div class="form-group roomtype-capacity-group">
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	一人房
			                <input type="radio" name="roomtypeCapacity" value="1" checked>
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	兩人房
			                <input type="radio" name="roomtypeCapacity" value="2">
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	三人房
			                <input type="radio" name="roomtypeCapacity" value="3">
			            </label>
		            </div>
		             <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	四人房
			                <input type="radio" name="roomtypeCapacity" value="4">
			            </label>
		            </div>
		            <div class="choose-roomtype-capacity">
			            <label class="radio-label">
			            	五人房
			                <input type="radio" name="roomtypeCapacity" value="5">
			            </label>
		            </div>
		        </div>	        
		        
				<div style="display: flex; flex-wrap: wrap">
		        	<div class="form-group" th:each="amenity : ${amenities}" style="display: flex; align-items: center; width:25%;">	
		        		<label class="checkbox-label" style="display: flex; align-items: center; margin-bottom: 0;">
		        			<span th:text="${amenity.name}"></span>
		        			<input type="checkbox" style="margin: 0 5px;" name="amenitiesId" th:value="${amenity.amenityId}">
		        		</label>
		        	</div>
			    </div>
		
		        <div class="form-group">
		        	<button type="button" id="onceInput" style="background-color: orange;">一鍵輸入</button>
		            <button type="submit" class="submit" id="submit" disabled>新增</button>
		            <button type="button" class="cancel">取消</button>
		        </div>
		    </form>
		</div>
	</div>
	<script th:src="@{/management-system/common/js/taiwan_districts.js}"></script>
	<script th:src="@{/management-system/booking/js/form.js}"></script>
	<script>
		document.getElementById('file-upload').addEventListener('change', e => {
			const file = event.target.files[0]; // 取得上傳的檔案
            if (file) {
                const reader = new FileReader(); // 建立 FileReader 物件

                // 當讀取完成時，將讀取的結果設定為 img 的 src
                reader.onload = function(e) {
                    preview.src = e.target.result; // 設定圖片來源
                    preview.style.display = "block"; // 顯示圖片
                };

                reader.readAsDataURL(file); // 將圖片讀取為 Data URL
            }
		});
	
		document.getElementById('onceInput').addEventListener('click', () => {
			
			document.getElementById('name').value = '蘊泉庄 (Yun Estate Hotel)';
			document.getElementById('price').value = 8947;
			document.getElementById('quantity').value = 10;
			document.getElementById('description').value = '位於台北淡水區的蘊泉莊非常適合家庭旅客入住,為您帶來難忘的住宿體驗。您可以享受附近迷人的河濱和充滿活力的夜市。前往聖紅毛城和淡水老街探索歷史。飯店提供獨特的設施,如客房內早餐和免費無線網路。外帶服務。美味佳餚送到您家門口。在山景空調客房中放鬆身心。免費Wi-Fi 與外界保持聯繫,並提供免費洗浴用品。家庭房會喜歡寬敞的家庭房。在蘊泉莊酒店為您留下美好回憶台北冒險。';
			document.getElementById('score').value = 9.0;
			document.getElementById('area').value = 76;
			
			document.getElementById('address').value = '新北市淡水區淡金路79巷16號';
			document.getElementById('select-city').value = '新北市';
			document.getElementById('select-district').innerHTML = '<option>淡水區</option>';

			document.querySelector('input[type="radio"][name="roomtypeCapacity"][value="3"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="2"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="9"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="21"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="1"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="45"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="36"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="23"]').checked = true;
			document.querySelector('input[type="checkbox"][name="amenitiesId"][value="3"]').checked = true;	
			
			document.getElementById('submit').disabled = false;
						
			document.querySelectorAll('input[type="text"]').forEach(input => input.classList.remove('invalid'));
		});
	</script>
</body>
</html>
