<header class="navbar">
    <h1 id="page-title" th:text="${manageListName}"></h1>
    <div class="user-nav">
        <button class="nav-icon"><img th:src="@{/management-system/common/image/mail-icon.png}" alt="Mail"></button>
        <button class="nav-icon"><img th:src="@{/management-system/common/image/bell-icon.png}" alt="Notifications"></button>
        <button class="nav-icon"><img th:src="@{/management-system/common/image/power-icon.png}" alt="Logout"></button>
        <div class="user-info">
            <span>David Greymaax</span>
            <img th:src="@{/management-system/common/image/profile.png}" alt="User Picture">
        </div>
    </div>
</header>
