<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footer</title>
<style>
	.footer-bgc {
      background-color: rgb(42, 42, 46);
    }
</style>
</head>
<body>
<footer>
    <section class="container-fluid footer-bgc mt-4 py-2">
      <div class="row text-white-50 pt-5 pb-4">
        <div class="col text-center">
          <p class="mb-0 small text-gray">本網站內容由© 2005–2024 ispan 資展國際保留所有權利</p>
          <p class="mb-0 small text-gray">Instastay.com隸屬台灣線上旅遊相關事業。</p>
        </div>
      </div>
      <div class="row justify-content-center text-white text-center pb-4">
        <div class="col-md-1 me-2">agoda</div>
        <div class="col-md-1 mx-2">priceline</div>
        <div class="col-md-1 mx-2">kayak</div>
        <div class="col-md-1 mx-2">booking</div>
        <div class="col-md-1 mx-2">OpenTable</div>
        <div class="col-md-1 ms-2">instastay</div>
      </div>
      <div class="row text-white-50 pt-4">
        <div class="col text-center small">hk-pc-2i-webnapp-essentials-user-5cdcfc5b9f-hpnkw</div>
      </div>
  	</section>
  </footer>
</body>
</html>