<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-2">
      <div class="container-fluid">
        <a class="navbar-brand py-2" th:href="@{/}">InstaStay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav w-100">
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="#">搜好房</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" th:href="@{/attraction}">活動</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" th:href="@{/shop}">商城</a>
            </li>    
             <li class="nav-item ms-auto d-flex" sec:authorize="!isAuthenticated()">
              <a href="/booking/auth/register" class="btn btn-outline-primary border-radius-22px mx-2">我是新朋友</a>
              <a class="nav-link" href="/booking/auth/login">登入</a>
            </li>
            <li class="nav-item ms-auto d-flex" sec:authorize="isAuthenticated()">
              <span class="nav-link" th:text="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User) ? #authentication.principal.attributes.name : #authentication.principal.username}"></span>
              <a href="/booking/auth/logout" class="btn btn-outline-primary border-radius-22px mx-2">登出</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>   
  </header>
</body>
</html>