<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        margin-top: 0;
    }
    .nav-item.dropdown > .nav-link::after {
        display: none;
    }
</style>
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg bg-white shadow-sm px-4 py-2">
      <div class="container-fluid">
      	<img th:src="@{/client/common/image/instastay-logo.png}" class="rounded me-2" style="width: 2.2rem;">

        <a class="navbar-brand py-2" th:href="@{/}">InstaStay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav w-100">
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#">搜好房</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">活動</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" th:href="@{/shop}">商城</a>
                </li>
                
                <!-- 未登入顯示 -->
                <li class="nav-item ms-auto d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/booking/auth/register" class="btn btn-outline-primary border-radius-22px mx-2">我是新朋友</a>
                    <a class="nav-link" href="/booking/auth/login">登入</a>
                </li>
                
                <!-- 已登入顯示 -->
                <li class="nav-item ms-auto d-flex align-items-center" sec:authorize="isAuthenticated()">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span th:text="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User) ? #authentication.principal.attributes.name : #authentication.principal.username}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" th:href="@{/user/orders}">會員訂單資訊</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/booking/auth/logout">登出</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
</body>
</html>