@charset "UTF-8";

.table{
	width: 100%;
	padding: 20px;
	margin-top: -40px;
	text-align: center;
	box-sizing: border-box;
}
.form {
	width:100%;
	padding: 20px;
	box-sizing: border-box;
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: #666;
}

.form-group input[type="text"], .form-group select, .form-group input[type="number"]
	{
	width: 45%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
	margin-bottom: 15px;
	
}

.form-group .checkbox-label, .form-group .radio-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
}

.form-group .checkbox-label input[type="checkbox"], .form-group .radio-label input[type="radio"]
	{
	margin-right: 10px;
}

.form-group button {
	width: 45%;
	padding: 12px;
	background-color: #28a745;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 10px;
}

.form-group button.cancel {
	background-color: #6c757d;
}

.form-group button:hover {
	opacity: 0.9;
}

.form-group label {
	font-size: 18px;
	width: auto;
	display: inline-block;
	margin-bottom: 0;
}

.form-group input[type="text"], .form-group select, .form-group input[type="number"]
	{
	width: 200px;
}

.form-group button[type="submit"] {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 5px;
}

.form-group .btn {
	background-color: #6666CC;
	padding-top: 6px;
	padding-bottom: 6px;
}