@charset "UTF-8";

.money-range-label {
	font-weight: bold;
	margin-right: 10px;
}

.money-range {
	-webkit-appearance: none;
	width: 300px;
	height: 8px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
	transition: background 0.3s;
}

.money-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #FFD700; /* 金黃色 */
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.money-range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #FFD700; /* 金黃色 */
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s;
}

.show-range-money {
	margin-top: 20px;
	font-size: 18px;
}

.volumeValue {
	font-weight: bold;
	color: #2ecc71;
}

.form-group.roomtype-capacity-group, .form-group.room-status-group {
	display: flex !important;
}

.form-group .choose-roomtype-capacity, choose-room-status {
	margin: 10px;
}